{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Elektro-Device OFF Page">
    <meta name="keywords" content="Elektro Device">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/images/logo-new.png' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/css/section.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/plugins/bootstrap/bootstrap.min.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static '/css/plugins/slick/slick.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static '/css/plugins/themify-icons/themify-icons.css' %}">
    <!-- venobox css -->
    <link rel="stylesheet" href="{% static '/css/plugins/venobox/venobox.css' %}">
    <!-- card slider -->
    <link rel="stylesheet" href="{% static '/css/plugins/card-slider/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/viloyatlar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/header/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/header/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/header/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/header/css/style2.css' %}" type="text/css">


    {% block custom_css %}

    {% endblock %}
</head>
<body>
    {% block menyu %}

      {% endblock %}


{% block content %}
{% endblock %}

{%block custom_js %}
{% endblock %}

</body>
</html>