{% extends "base.html" %}
{% load static %}
{% block title %}
    O'zbekisto Respublikasi Adliya Vazirligi
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/meno.css' %}" type="text/css">
{% endblock %}


{% block content %}

<div class="container">
    <h1 style="text-align: center;">{{ object.name }}</h1>
      <div class="row">
        {% for item in subdepartment %}
          <div style="text-align: center; margin-top: 100px;" class="col-lg-5  col-md-5  col-sm-3 col-12 main" >
            <a class="main_a" href="{% url 'subdepartment-detail' item.pk %}">
              <p style="padding: 50px;">{{item.name}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
</div>
{% endblock %}
