{% extends "base.html" %}
{% load static %}
{% block title %}
    O'zbekisto Respublikasi Adliya Vazirligi
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/meno.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/css/bootstrap/aos.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/css/bootstrap/glightbox.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/css/bootstrap/swiper-bundle.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/css/bootstrap/main.css' %}" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
{% endblock %}

{% block menyu %}
    <header class="header">
        <div class="fixed-top">
          <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
            <div class="container">
              <a href="{% url 'main' %}">
                  <img  src="{% static '/images/logo-new.png' %}" width="80px" height="80px" alt="">
              </a>
            <p class="main_p" style="color: white;
                  text-decoration: none; top: 20px;">O'zbekisto Respublikasi Adliya Vazirligi</p>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'main' %}">Bosh Ekran
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>

                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'region' %}">Viloyatlar</a>
                    </li>
                  </ul>
              </div>
            </div>
          </nav>
        </div>
    </header>
      {% endblock %}

{% block content %}
<section id="hero" class="hero">
  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">
        {% if perms.home.can_add_department %}
        <ul class="navbar-nav ml-auto" style="display: flex; padding: 10px 20px;">
          <li style="padding: 0px 10px;" class="nav-item">
            <button type="button" class="btn btn-outline-primary">
              <a style="text-decoration: none; color: white;" href="{% url 'department-add' %}">Qo'shish</a>
            </button>
          </li>
        </ul>
        {% endif %}
        {% for item in department %}
        <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              {% if item.icon == 1 %}
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
              <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
              </svg>
              {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi  bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1   1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10  8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
              {% endif %}
          </div>
            <h4 class="title"><a href="" class="stretched-link">{{item.name}}</a></h4>
            {% if perms.home.can_change_department %}
            <button type="button" class="btn btn-outline-primary">
              <a style="text-decoration: none; color: white;" href="{% url 'department-edit' item.id %}">O'zgartirish</a>
            </button>
          {% endif %}
          {% if perms.home.can_delete_department %}
              <button type="button" class="btn btn-outline-primary">
                <a style="text-decoration: none; color: white;" href="{% url 'department-delete' item.id %} ">O'chirish</a>
              </button>
          {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block custom_js %}

<script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/bootstrap/aos.js' %}"></script>
<script src="{% static '/js/bootstrap/glightbox.min.js' %}"></script>
<script src="{% static '/js/bootstrap/purecounter_vanilla.js' %}"></script>
<script src="{% static '/js/bootstrap/swiper-bundle.min.js' %}"></script>
<script src="{% static '/js/bootstrap/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/js/bootstrap/validate.js' %}"></script>
<script src="{% static '/js/bootstrap/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

{% endblock %}



  <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12"