{% extends "base.html" %}
{% load static %}
{% block title %}
    O'zbekisto Respublikasi Adliya Vazirligi
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/viloyatlar.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="destinations">
            <div class="section_content_">
                <div class="scroll">
                    <div class="row">
                    {% for item in staff %}
                        <div class="col-md-3">
                            <a href="{% url 'staff-detail' item.pk %}" style="background-image: url(/{{item.img}})"class="destinations_item">
                                <div class="sq_parent">
                                    <div class="sq_wrap">
                                        <div class="sq_content">
                                            <div class="_content">
                                                <h3 class="_title">{{item.last_name}}</h3>
                                                <h3 class="_title">{{item.first_name}}</h3>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
